[submodule "cp3o"]
	path = cp3o
	url = https://github.com/will3/cp3o.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/cp3o"]
	path = external/cp3o
	url = https://github.com/will3/cp3o.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/nigels-com/glew.git
[submodule "external/FastNoise"]
	path = external/FastNoise
	url = https://github.com/Auburns/FastNoise.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/OpenCLUtilities"]
	path = external/OpenCLUtilities
	url = https://github.com/smistad/OpenCLUtilities.git
